# Configure npm to install production dependencies
option_settings:
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: "nginx"
    GzipCompression: "true"
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: "true"
    DeleteOnTerminate: "false"
    RetentionInDays: "7"

commands:
  01_install_deps:
    command: "cd /var/app/current && npm install --only=production"
    leader_only: true
