option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_HOST: daycare-database.cj40cq8mair0.eu-west-1.rds.amazonaws.com
    DB_PORT: 5432
    DB_USER: daycareadmin
    DB_PASSWORD: *Dasom1015*
    DB_NAME: daycare_db
    NODE_ENV: production
    JWT_SECRET: daycare-super-secret-key-2026
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
